#budget-calculator {
  display: flex;
  margin: 7% auto 0;
  width: 40%;
  flex-direction: column;
  border-radius: 5px;
  background-color: hsl(0, 7%, 92%);
}

#budget-calculator .header {
  width: 100%;
  color: white;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
  background-color: #4fc3f7;
  text-align: center;
}

#budget-calculator .header span {
  padding-left: 5px;
  font-size: 50px;
  font-weight: bold;
}

#budget-calculator .budget-form-container {
  padding-top: 10px;
  width: 100%;
  padding: 5px 0 10px 5px;
  font-size: 18px;
}

#budget-calculator .budget-input-container {
  width: 100%;
  font-size: 20px;
}

#budget-calculator .budget-form-container .budget-input-helptext {
  margin: 5px 0 7px 0;
  width: 100%;
  color: #575757;
  font-weight: bold;
  font-size: 20px;
}

#budget-calculator .budget-input-container .budget-input {
  width: 94%;
  border-bottom: 1px solid #575757;
  background-color: #faf9f9;
  background-color: #ebe8e8;
  font-size: 20px;
}
