.footer {
  padding: 10px 5px;
  font-size: 30px;
  border-top: 1px solid #575757;
  width: 99%;
  color: #575757;
}

.footer .metrics .title {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.footer .metrics .title div {
  flex: 0 0 33%;
}

.footer .metrics .data {
  display: flex;
  flex-direction: row;
}

.footer .metrics .data div {
  flex: 0 0 33%;
  text-align: center;
  overflow: hidden;
}

.footer .outcome {
  height: 40px;
  padding-top: 10px;
  text-align: center;
}
